{% extends 'base.html' %} 
{% load staticfiles%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet"  href="{% static 'zzikplace/my.css' %}"/>
    <link rel="stylesheet"  href="{% static 'zzikplace/findplace.css' %}"/>
    <script src="https://kit.fontawesome.com/e2620f3315.js"></script>

<body>


<div style="margin-top: 40px; font-weight:bold; font-size:2rem; color:gray; text-align:center"> "{{searchword }}" 검색결과 </div>

<div style="display: flex;">
<div class="wrapper" style="width: 60%;">

{% for place in places %} 
  <div class="item">
   
    <div class="polaroid">
    <a href="/reviews/detail/{{place.id}}">
      {% for review in place.review_set.all %}
           {% if forloop.counter < 2 %}
                <img src = "{{review.photo.url}}">
           {% endif %}
      {% endfor %}   
    </a>
      <div class="caption">
        <div class="place-title">  {{place.title}}  </div>   
        <div class="place-address">  {{place.address}}
        {% if request.user == review.author %}
         <a href="/reviews/myposts/{{ review.id }}/delete" onclick="return confirm('정말 삭제하시겠습니까?')">
        <i class="fas fa-trash-alt fa-lg" id="delete"></i></a>
        {% endif %}
        </div>
      </div>
    </div>
  
  </div>

{% endfor %}


</div>

<div id="map" style="width: 30%; height:350px;"></div>

</div> 
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=64ecc30ef2f8d205d1168dea4d7ded6d&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    center_y = {{ places.0.y }}
    center_x = {{ places.0.x }}
    mapOption = { 
        center: new kakao.maps.LatLng(center_y, center_x), // 지도의 중심좌표
        level: 10 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 
// 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
var positions = [
    {% for place in places %}
    {
        content: '<div> {{ place.title }} </div>',
        latlng: new kakao.maps.LatLng({{place.y}}, {{place.x}})
    },
    {% endfor %}
];

for (var i = 0; i < positions.length; i ++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
        content: positions[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}

</script>
</body>
</html>
{% endblock content %} 
