
{% extends 'base.html' %} 
{% load staticfiles%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet"  href="{% static 'zzikplace/my.css' %}"/>
    <script src="https://kit.fontawesome.com/e2620f3315.js"></script>
</head>

<body>

<div style="margin-top: 40px; font-weight:bold; font-size:2rem; color:gray; text-align:center"> 저장한 장소 목록  </div>
<div style="font-weight:bold; font-size:1.5rem; color:gray; text-align:center"> Total : {{ user.places_saved.count }} </div>
<div class="wrapper">
{% for place in places %} 
  <div class="item">
   
    <div class="polaroid">
    <a href="/reviews/detail/{{place.id}}">
      {% for review in place.review_set.all %}
           {% if forloop.counter < 2 %}
                <img class="review-img" src = "{{review.photo.url}}">
           {% endif %}
      {% endfor %}   
    </a>
      <div class="caption">
        <div style="font-weight:bold; font-size:20px;">  {{place.title}}  </div>   
        <span> {{place.address}}</span>
        <i class="fas fa-trash-alt fa-lg" id="delete"></i>
      </div>
    </div>
  
  </div>

{% endfor %}


</div>

</body>


{% endblock content %} 
