a{
    color: rgb(116, 116, 116);
    text-decoration: none;
}

a:hover{
    color: rgb(60, 60, 60);
    text-decoration: none;
}
.more-button{
    margin: 10px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 6px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    background-color: black;
    opacity: 0.5;
    border: none;
}

.more-button:hover{
    opacity: 0.8;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    color: rgb(63, 63, 63);
    grid-template-rows: minmax(100px, max-content);
}

.item {
    background-color: white;
}

.place-info {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 10px;
    grid-column: 1;
    grid-row: 1;
    line-height: 1.7em;
}

.review {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 50px;
}

/*************** Yeji ****************/
.review_infobar {
    margin-bottom: 10px;
    height: 40px;
}

#review_number {
    float: left;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 10px;
    padding-top: 20px;
}

#review_filter {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.review_wrapper {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 50% 50%;
    /* grid-column-gap: 2%;  */
    grid-auto-rows: minmax(min-content, max-content);
    grid-row-gap: 10px;
   
}


.each_review {
    width: 90%;
    margin:12px auto;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 12px;
}

/* .review_photo {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 16px;
} */

.timelist-container {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

#timeChart{
    margin-top: 10px;
}

.review_photo img {
    width: 80%;
    position: relative;
}

.review_content {
    padding: 12px;
    position: relative;
    min-height: 100px;
    width: 100%;
    margin-bottom: 10px;
}


/************************************/

.sidebar {
    margin-top: 30px;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.info-bar{
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
}
#title{
    padding-left: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

#address{
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 20px;
}

#view{
    color: gray;
    padding-left: 20px;
    font-size: 1vw;
}

#buttons{
    font-size: 2.5vw;
    height: 60px;
    float: right;
    margin-right: 15px;
}


#buttons i{
    margin-right: 25px;
}

.photo-wrapper{
    position:relative;
    width: 100%;
    margin-left: 1%;
    overflow: hidden;
}

.photo-wrapper ul{
    position: relative;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    overflow: hidden;
    white-space:nowrap;
}

.photo-wrapper li{
    float: left;
    width: 32.5%;
    margin-right: 5px;
    max-height: 30vw;
}

.photo-wrapper img{
    width: 100%;
}

.map-container{
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.around-container{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-auto-columns: 2;
    grid-gap: 1%;
    line-height: 1em;
}

.around-container span{
    float: left;
    margin-left: 10px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}


#around-photo{
    width: 90%;
}

#around-info{
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

#around-name{
    color: rgb(58, 58, 58);
    text-decoration: none;
    line-height: 150%;
    font-size: 20px;
}

#around-address{
    line-height: 120%;
    font-weight: normal;
    font-size: 16px;

}

.chart-wrap{
    opacity: 0.8;
}

#like-button{
    border: 1px solid rgb(171, 171, 171);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px; padding-bottom: 3px;
}

.like-count{
    text-align: left;
    float: left;
    margin-right: 10px;
}