@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
  }


  body {
    background-color: whitesmoke;
    background-size: 10px 10px;
  }

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3rem;
    text-align: center;
  }

  .polaroid {
    background: #fff;
    padding: 15px;
    padding-bottom: 25px;
    width: 100%;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
  }
  .caption {
    margin-left: 5%;
    width: 276px;
    height: 50px;
    text-align: left;
    color: grey;
    margin-bottom: 10px;
  }

  .item {
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 30px;
  }

  .caption i {
    margin-top: 10px;
    position: absolute;
    left: 90%;
  }